.godot/
.venv/
/tools/
game/addons/mpf-gmc/
game/logs/
game/.godot/
game/audits/
game/data/
captures/
__pycache__/
game/config/rom/
game/sounds/
game/media/
game/slides/deffs/
game/tron/media_data.json
game/fonts/
/game/monitor/logs/
/game/monitor/settings.ini
/game/monitor/settings.ini.lock
.cache/
game/fonts_ttf/*.import
